@font-face {
    font-family: 'pixel';
    src: url('fonts/PxPlus_VGA_SquarePx.ttf'), url('fonts/PxPlus_VGA_SquarePx.woff');
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #bf0;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #00f;
}

* {
    box-sizing: border-box;
    scrollbar-color: #000 #000;
}

html {
    font-family: 'Courier New', Courier, monospace;
    color: #bf0;
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(50, 90, 230); */
    background-color: #000;
}

canvas {
    margin: auto;
}

a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bolder; */
    background-color:#bf0;
    color: #000;
}

a:hover {
    font-style: italic;
    border-bottom: none;
}

p {
    /* background-color: #bf0; */
}

button {
    float: none;
}

ul {
    list-style: none;
    /* margin-left: 0;
    padding-left: 0; */
}

li {
    /* padding-left: 1em;
    text-indent: -1em; */
}

li:before {
    content: "**********************";
    color: #bf0;
    /* padding-right: 5px; */
}

.blink {
    animation: 0.65s blink infinite;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    from {
        color: #000
    }
    
    to {
        color: rgba(0, 0, 0, 0);
    }
  }

.buttons {
    max-width: 200px;
    display: block;
    float: none;
}

.container {
    width: 50%;
    margin: auto;
}

.title {
    color: #000;
    background-color: #bf0;
    font-family: 'pixel', monospace;
    letter-spacing: 2px;
    font-weight: 100;
    /* margin: auto; */
    padding: 0.15rem;
    width: max-content;
    width: -o-max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
}

.big {
    font-size: 3rem;
}

.small {
    font-size: 2rem;
}
.content{
    margin-left: 30px;
}
#backgroundTitle {
    display: block;
    margin: auto;
    /* width: auto; */
    max-width: auto;
    width: min-content;
    min-width: 250px;
    height: auto;
    /* left: 5%; */
    /* top: 300px; */
    z-index: -1;
    font-size: 3vh;
    /* box-shadow: 5px 10px; */
    border-left: solid 10px black;
    padding-left: 1em;
}

.left, .right {
    position: fixed;
    overflow-y: scroll;
    width: 50%;
}

.left {
    /* background: #ff00003a; */
    left: 0px;
    top: 0px;
    height: 100%;
}

.right {
    /* background: #00ff003a; */
    height: 100%;
    right: 0px;
}